.details {
    display: flex;
    flex-direction: column;
}

.propertyDetails {
    padding-right: 15px;
}

.volumeSettingsType {
    margin-right: 15px;
}

.volumeSettings {
    display: flex;
    flex-direction: row;
}

.scrubbingSettings {
    display: flex;
    flex-direction: row;
}