.container {
    position: relative;
}

.unavailable {
    filter: grayscale(1);
}

.playIcon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.title {
    position: absolute;
    top: 0;
    left: 5px;
    text-shadow: 1px 1px 1px black;
    width: 100%;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.titleCached {
    color: rgb(139, 195, 74);
}


.duration {
    position: absolute;
    bottom: 0;
    left: 5px;
    text-shadow: 1px 1px 1px black;
}

.menu {
    bottom: 0;
    right: 5px;
    text-shadow: 1px 1px 1px black;
}
